.resultsContainer 
{
    width: 95%;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
}

.typeSomething 
{
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 1.2em;
    font-style: italic;
}

.noResults 
{
    width: 95%;
    margin: auto;
    background: #be3d3d;
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.noResults svg 
{
    margin-right: 10px;
    width: 16px;
    aspect-ratio: 1/1;
    padding: 8px;
    border: 1px solid white;
    border-radius: 50%;
    background: #824343;
}

@media screen and (min-width: 767px) {
    .noResults 
    { width: 55%; }
}

@media screen and (min-width: 1023px) { 
    .resultsContainer 
    { 
        padding-top: 0; 
        margin-top: -30px;
    }

    .noResults 
    { 
        width: 45%; 
        margin-bottom: 40px;
    }

}

@media screen and (min-width: 1350px) { 
    .noResults 
    { width: 30%; }

}
