.socials 
{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 15px 0;
}

.socials a
{
    width: 25%;
}

.socials img 
{
    filter: brightness(0.85);
    box-shadow: none;
    transition: filter 200ms ease;
    margin-bottom: 0px;
}

.socials img:hover 
{
    filter: brightness(1)
}

@media screen and (min-width: 767px) {
    .socials 
    { justify-content: flex-start; }
    
    .socials img 
    { width: 55%; }
}

@media screen and (min-width: 1023px) {
    .socials 
    { width: 75%; }

    .socials img 
    { width: 60%; }
}

@media screen and (min-width: 1250px) {
    .socials img 
    { width: 60%; }
}