@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.profilePage 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
    margin-top: 30px;
    font-size: 16px;
    animation: fadeIn 300ms 100ms backwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.left-side
{
    width: 100%;
    text-align: center;
    display: grid;
    place-items: center;
}

.left-side img
{
    width: 50%;
    margin-bottom: 15px;
    box-shadow: 15px 15px 2px 2px #1b1b1b;
    border-radius: 5px;
}

.left-side h1 
{
    font-size: 2em;
    padding-bottom: 15px;
}

.rigth-side 
{
    width: 100%;
    margin-top: 50px;
}

.rigth-side h1
{
    font-size: 2em;
    display: none;
    letter-spacing: 3px;
}


.biography 
{
   font-size: 0.95em;
   text-align: justify;
   color: #e1e1e1;
   font-family: 'Montserrat', sans-serif;
}

.biography h3
{
    padding-bottom: 5px;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 767px) {
    .profilePage 
    { justify-content: space-between; }

    .left-side 
    { 
        width: 45%; 
        display: block;
        text-align: left;
    }

    .left-side img 
    { width: 65%; }

    .rigth-side 
    { 
        width: 55%; 
        margin-top: 0;
    }

    .biography h3 
    { text-align: left; }
}

@media screen and (min-width: 1023px) {
    .profilePage 
    { margin-top: 0; }

    .left-side 
    { width: 30%;}

    .left-side h1 
    { display: none; }

    .left-side img 
    { width: 65%; }

    .rigth-side 
    { width: 70%; }

    .rigth-side h1 
    { display: block; }

    .biography 
    { padding-top: 20px; }
  
}

@media screen and (min-width: 1250px) { 
    .profilePage 
    { padding-inline: 10%; }

    .left-side img 
    { width: 75%; }
}