.filmsWrapper 
{
    width: 100%;
    margin: 25px auto;
}

.filmsContainer 
{
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;
}

.film-item 
{
    margin: 5px 20px 20px 20px;
    flex: 0 0 45%;
    transition: filter 250ms ease;
}

.filmsContainer:has(.film-item:hover)
.film-item:not(:hover)
{
    filter: grayscale(70%) brightness(50%)
}

.film-item:first-child 
{ margin-left: 0px; }

.film-item:last-child 
{ margin-right: 0px; }

.film-item img 
{
    width: 100%;
    aspect-ratio: 3/4.5;
    cursor: pointer;
    object-fit: contain;
}

.slideOver
{
    animation-name: slideDown;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

.slideOut
{
    animation-name: slideTop;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

.film-item p
{
    text-align: center;
    padding-top: 5px;
}

@media screen and (min-width: 1023px) {
    .film-item 
    { flex-basis: 19%; }
}

@keyframes slideTop {
    0% { transform: translateY(0px); opacity: 0;}
    20% { transform: translateY(-20px); }
    100% { transform: translateY(0px); opacity: 1;}
}

@keyframes slideDown {
    0% { transform: translateY(0px); opacity: 0;}
    20% { transform: translateY(20px); }
    100% { transform: translateY(0px); opacity: 1;}
}