.socials 
{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-top: 10px;
}

.socials a
{
    width: 25%;
}

.socials img 
{
    border: none;
    transition: transform 500ms ease;
    margin-bottom: 0px;
}

.socials img:hover 
{
    transform: rotate(360deg);
}

@media screen and (min-width: 767px) {
    .socials 
    { justify-content: flex-start; }
    
    .socials img 
    { width: 55%; }
}

@media screen and (min-width: 1023px) {
    .socials 
    { width: 75%; }

    .socials img 
    { width: 60%; }
}

@media screen and (min-width: 1250px) {
    .socials img 
    { width: 60%; }
}