.profilePage 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
    margin-top: 30px;
}

.left-side
{
    width: 100%;
    text-align: center;
    display: grid;
    place-items: center;
}

.left-side img
{
    width: 50%;
    border: 2px solid #518497;
    border-radius: 10px;
    margin-bottom: 15px;
}

.left-side h1 
{
    font-size: 2em;
    padding-bottom: 15px;
}

@media screen and (min-width: 767px) {
    .profilePage 
    { justify-content: space-between; }

    .left-side 
    { 
        width: 45%; 
        display: block;
        text-align: left;
    }

    .left-side img 
    { width: 65%; }
}

@media screen and (min-width: 1023px) {
    .left-side h1 
    { display: none; }

    .profilePage 
    { margin-top: 0; }

    .left-side img 
    { width: 55%; }
}

@media screen and (min-width: 1250px) { 
    .profilePage 
    { padding-inline: 10%; }

    .left-side img 
    { width: 40%; }
}