.creditsPage 
{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.credits-control
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.credits-control h2 {
    letter-spacing: 2px;
    padding-bottom: 7px;
    font-size: 1.75em;
    border-bottom: 3px solid #6cabc3;
    display: inline-block;
    margin: auto;
}

.control-switch {
    background: #222222;
    position: absolute;
    width: 45px;
    top: 120px;
    left: -10px;
    padding: 15px 5px;
    color: #bababa;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    font-size: 1.3em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 150ms ease;
    cursor: pointer;
}

.control-switch:nth-child(3)
{
    top: 190px;
}

.control-switch p
{
    display: none;
    font-size: 0.8em;
}

.control-switch.active 
{
    width: 60px;
    background-color: #404040;
}

@media screen and (min-width: 1023px) {
    .creditsPage {
        margin-top: -60px;
    }

    .control-switch p {
        display: block;
    }

    .control-switch 
    {
        width: 95px;
        align-items: flex-start;
        gap: 8px;
    }

    .control-switch.active 
    {
        width: 110px;
    }
}
