@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.movieWrapper 
{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-position-x: 40%;
    padding: 40px 5%;
    min-height: 90vh;
}

.overview 
{
    text-align: justify;
    margin-inline: auto;
    margin-top: 55px;
    color: #ddd;
    width: 100%;
}

.actorsWrapper 
{
    width: 100%;
    padding: 30px 5%;
    background: #131313;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 500px) {
    .overview 
    { width: 85%; }
}

@media screen and (min-width: 767px) {
    .overview 
    { 
        width: 70%; 
        font-size: 1.1em;
        margin-top: 35px;
    }
}

@media screen and (min-width: 1023px) {
    .movieWrapper 
    { 
        padding-top: 175px; 
        height: 100vh;
        margin-top: -210px;
    }

    .overview 
    { width: 55%; }
}

@media screen and (min-width: 1300px) {
    .overview 
    { width: 40%; }
}

