@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

.reviewsContainer 
{
    width: 100%;
    margin: auto;
    padding:30px 5%;
    background: #101010; 
}

.reviewsContainer h1 
{
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
}

.review-item 
{
    width: 100%;
    border-bottom: 1px solid #222222;
    margin-top: 25px;
    padding-inline: 15px;
    padding-bottom: 25px;
    
}

.review-item:last-child
{
    border-bottom: none;
}

.author_name 
{
    font-weight: 700;
    font-size: 1.2em;
}

.review_date
{
    color: #ccc;
    padding-top: 5px;
    font-size: 0.9em;
}

.review_content 
{
    margin-top: 15px;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    max-height: 200px;
    overflow-y: auto;
}

.noReviewsMsg 
{
    font-size: 1.05em;
    text-align: center;
    padding: 10px 10px 20px 10px;
    color: #ccc;
}

.review_content::-webkit-scrollbar {
    width: 3px;
}
.review_content::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 20px;
}
.review_content::-webkit-scrollbar-track {
    background: #202020;
}

@media screen and (min-width: 1300px) {
    .reviewsContainer 
    { padding-inline: 10%; }

    .review-item 
    { width: 80%; }
}