.moviesList 
{
    width: 100%;
    padding: 50px 5% 30px 5%;
    background: #0c0c0c;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.moviesList h2 
{
    font-size: 2.3em;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    animation-name: floatingCaption;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

.movie-item 
{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
}

.movie-item img 
{
    width: 70%;
    border-radius: 5px;
    transition: all .3s cubic-bezier(0, 0.26, 0, 1.15);
    aspect-ratio: 1/1.5;
    object-fit: cover;
}

.movie-item p 
{
    padding-top: 5px;
    font-size: 1.1em;
    font-weight: 600;
}

.overlay 
{
    position: absolute;
    width: 81%;
    aspect-ratio: 1 / 1.51;
    background: #0000007d;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    transition: all .3s ease;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    display: none;
}

.movie-date 
{
    position: absolute;
    top: 2px;
    left: -20px;
    background: #1f72b7;
    padding: 3px 5px;
    transition: all .3s ease;
}

.movie-votes 
{
    position: absolute;
    bottom: 4px;
    right: -20px;
    background: #2e2e2e;
    padding: 5px;
    transition: all .3s ease;
}

.movie-votes svg 
{ padding-inline: 5px; }

.movie-votes svg:first-child 
{ color: #ebaa00; }

.movie-item:hover .overlay 
{ opacity: 1; }

.movie-item:hover .movie-votes 
{ right: -2px; }

.movie-item:hover .movie-date 
{ left: 2px; }

@media screen and (min-width: 767px) {
    .movie-item 
    { width: 32%; }

    .movie-item img 
    { width: 85%; }
}

@media screen and (min-width: 1023px) 
{
    .movie-item 
    { width: 21%; }

    .movie-item img 
    { width: 80%; }

    .overlay 
    { display: block; }

    .movie-item:hover img
    { filter: blur(2px); }
}


@keyframes floatingCaption {
    0% 
    { transform: translateY(0); }

    50% 
    { transform: translateY(-10px); }
}