.castContent 
{
    width: 100%;
    text-align: center;
    position: relative;
}

.castScroll 
{
    width: 100%;
    overflow-x: auto;
    display: flex;
}

.actor-item 
{
    flex: 0 0 45%;
    margin: 30px 10px;  
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.actor-item:first-child
{
    margin-left: 0px;
}

.actor-item img 
{
    width: 100%;
    filter: drop-shadow(2px 2px 2px black)
}

.actor-item h3
{
    padding-top: 10px;
    padding-bottom: 3px;
}

.more_credits 
{
    position: absolute;
    bottom: -50px;
    left: 0px;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    background: #373737;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

@media screen and (min-width: 767px) {
    .actor-item 
    { flex: 0 0 31%; }
}

@media screen and (min-width: 1023px) {
    .castContent 
    { width: 70%; }

    .actor-item 
    { flex: 0 0 23%; }
}

@media screen and (min-width: 1300px) {
    .actor-item 
    { flex: 0 0 18%; }
}