.result_item {
  width: 95%;
  margin: 15px auto 0 auto;
  max-height: 280px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.result_item:nth-child(2n+1)
{
  background: #1b1b1b;
}

.result_item:last-child {
  border: none;
}

.result_item img {
  width: 35%;
}

.result_data {
  width: 100%;
  text-align: justify;
  padding: 5px 10px;
  font-size: 0.95em;
}

.rating {
  position: absolute;
  top: 5px;
  left: 5px;
}

.rating svg {
  color: #dcdc0f;
  font-size: 1.75em;
  filter: drop-shadow(0px 0px 8px #dcdc0f);
}

.rating p {
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.95em;
  color: black;
}

.description {
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 375px) {
  .description {
    -webkit-line-clamp: 10;
  }
}

@media screen and (min-width: 767px) {
  .result_item {
    width: 45%;
    background: none!important;
  }

  .result_item:last-child {
    margin-inline: 2.5%;
  }
}

@media screen and (min-width: 1023px) {
  .result_item img {
    width: 28%;
  }
}

@media screen and (min-width: 1100px) {
  .result_item {
    width: 30%;
    max-height: 240px;
  }

  .result_item img {
    width: 38%;
  }
}
