@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.default {
  text-align: center;
  font-size: 4.5em;
  margin-top: 50px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

.default::after {
  content: "Discover";
  display: block;
  transform: rotateX(240deg);
  margin-top: -25px;
  color: #585858;
  filter: blur(2px);
}

.default span {
  animation-name: lightDefaultLetter;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  display: inline-block;
}

.default span:first-child {
  animation-delay: 550ms;
}
.default span:nth-child(2) {
  animation-delay: 650ms;
}
.default span:nth-child(3) {
  animation-delay: 750ms;
}
.default span:nth-child(4) {
  animation-delay: 850ms;
}
.default span:nth-child(5) {
  animation-delay: 950ms;
}
.default span:nth-child(6) {
  animation-delay: 1050ms;
}
.default span:nth-child(7) {
  animation-delay: 1150ms;
}

.default span:nth-child(8) {
  animation-delay: 1250ms;
}

.default_p {
  text-align: center;
  margin-bottom: 60px;
  font-size: 1.25em;
  letter-spacing: 1px;
  margin-top: -10px;
  padding-inline: 10px;
}

.noResult {
  text-align: center;
  margin: 50px auto -20px auto;
  font-style: italic;
  font-weight: 600;
  color: #a9a9a9;
  letter-spacing: 1px;
  text-shadow: 0px 0px 20px #fff;
}

.results-container {
  width: 90%;
  margin: 65px auto 40px auto;
}

.results-numbers {
  text-align: center;
  margin: auto;
}

.results-items {
  margin: 40px auto 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

@media screen and (min-width: 767px) {
  .default {
    font-size: 5em;
    margin-top: 90px;
  }

  .noResult {
    margin-bottom: -55px;
  }
}

@keyframes lightDefaultLetter {
  0% {
    text-shadow: 0px 0px 12px transparent;
    transform: translateY(0px);
  }
  15% {
    text-shadow: 0px 0px 12px #fff;
    transform: translateY(5px);
  }
  30% {
    text-shadow: 0px 0px 12px transparent;
    transform: translateY(0px);
  }
}
