.paginationBox 
{
    display: flex;
    justify-content: center;
    margin: 50px auto 5px auto;
    width: 100%;
}

.page-number 
{
    background: #343434;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px;
}

.page-number a
{
    color: #f1f1f1;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 7px 0;
    text-align: center;
}

a.active 
{
    background: #4b4b4b;
    border: 1px solid #2c87a8;
    font-weight: 700;
    border-radius: 50%;
}

.modifyCurrentPage
{
    background: #696969;
    outline: none;
    border: none;
    width: 45px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    font-size: 1.2em;
    color: #f0e8e8;
}

@media screen and (min-width: 767px) {
    .modifyCurrentPage
    { margin: 0 15px; }
}
@media screen and (min-width: 1023px) {
    .paginationBox 
    { 
        margin-top: 0;
        margin-bottom: 20px;
    }
}